ol, ul {
    margin-top: 1.2em;
}

ol > li p {
    margin-top: 2em;
}

ol > li:hover {
    background-color: rgba(51, 122,	183, 0.1);
}

ol > li p:first-child {
    font-weight: 700;
}

ul > li p {
    font-weight: unset !important;
}

/* table style */
table {
    border: 1px solid;
}

thead {
    color: #fff;
    background-color: #337ab7;
}

tbody .even {
    background-color: #eee;
}

tbody .odd {
    background-color: #fff;
}
